.push.visible ~ .pusher{
  width: calc(100% - 150px);
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
.pushable, .pusher {
  min-height: 100vh !important;
}
.hide {
  display: none;
}

.center {
  text-align: center;
}
.right {
  text-align: right;
}

.mb5 {
  margin-bottom: 5px;
}

.ui.header > .ui.image {
  width: auto;
}

.ui.cards > .ui.card > .content > .header {
  font-size: 1em;
  margin-top: 0.2em;
}

.bGreen {
  background-color: #21BA45 !important;
}

Button.item {
  border: none;
}
.collapsing > i {
  cursor: pointer;
}

.sidebar.right {
  background-color: white;
}